user nginx;
worker_processes auto;
error_log /dev/stdout notice;
pid /var/run/nginx.pid;

events {
    worker_connections 1024;
}

http {

    # certbot challenge
    server {
        listen       80;
        listen       [::]:80;
        server_name  ${NGINX_DOMAIN_NAME} www.${NGINX_DOMAIN_NAME} logs.${NGINX_DOMAIN_NAME};
        location /.well-known/acme-challenge/ {
            root /var/www/certbot;
        }
    }

}
