/.idea/
/.vs/
/.vscode/
/misc/
/postgres/data/
/webapi/netcore/.idea/
/webapi/data/
/webapi/netcore/webapi/.vscode/
/webapi/netcore/webapi/.idea/
/webapi/netcore/webapi/bin/
/webapi/netcore/webapi/built/
/webapi/netcore/webapi/build/
/webapi/netcore/webapi/archive/
/webapi/netcore/webapi/obj/
/webapp/react/.idea/
/webapp/react/build/
/webapp/react/node_modules/
/webapp/react/not-used/
