/.idea/
/.vs/
/.vscode/
/misc/
/infra/
/postgres/data/
/webapi/NetCore/.idea/
/webapi/data/
/webapi/NetCore/WebApi*/.vscode/
/webapi/NetCore/WebApi*/.idea/
/webapi/NetCore/WebApi*/bin/
/webapi/NetCore/WebApi*/built/
/webapi/NetCore/WebApi*/build/
/webapi/NetCore/WebApi*/archive/
/webapi/NetCore/WebApi*/obj/
/webapp/react/.idea/
/webapp/react/package-lock.json
/webapp/react/build/
/webapp/react/node_modules/
/webapp/react/not-used/
/webapi/NetCore/NetCore.sln.DotSettings.user
/graylog/mongo
/graylog/opensearch
/graylog/graylog
/nginx/certbot/www
/nginx/certbot/letsencrypt
/nginx/certbot/own_ca_certs/
/prometheus/grafana/data/
/prometheus/prometheus/data/
/webapi/NetCore/WebApi.Tests.E2E/Traces/
