**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
NetCore/WebApi*/bin
NetCore/WebApi*/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
NetCore/WebApi*/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

data
NetCore/WebApi/build
NetCore/WebApi/Tests
NetCore/WebApi/archive
NetCore/WebApi/appsettings.Development.json
