
# sudo service docker start
# docker compose up --build --detach

version: '3.8'

services:

#  ######### Dozzle #########
#  dozzle:
#    container_name: dozzle
#    image: amir20/dozzle:latest
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock
#    network_mode: "host"
#  #    ports:
#  #      - "9999:8080"

  ######### Postgres ##########
  postgres:
    image: postgres:15.0
    container_name: postgres
    #    build:
    #      context: ../postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-}
      - POSTGRES_DB=backend_db
    volumes:
      - ../postgres/data:/var/lib/postgresql/data
    network_mode: "host"

  ########## frontend ##########
  nginx:
    container_name: nginx
    image: nginx:1.22.0
    build:
      context: ../webapp
#       args:
#         - REACT_APP_SERVICES_HOST=/webapi
    volumes:
      - ../nginx/nginx.conf:/etc/nginx/nginx.conf:ro,z
    network_mode: "host"
#    ports:
#      - "80:80"
#    networks:
#      - backend
      # - frontend
  
  ########## backend ##########
  webapi:
    container_name: webapi
    image: webapi
    build:
      context: ../webapi
    volumes:
      - ../webapi/data/aspnet:/root/.aspnet
    network_mode: "host"
#    networks:
#      - backend
