
version: '3.8'

########## Extension fields ##########

x-logging:
  &graylog-logging
  driver: gelf
  options:
    gelf-address: ${FP_GRAYLOG_GELF_INPUT:-udp://127.0.0.1:12201}

########## Services ##########
services:

  ######### Dozzle #########
  dozzle:
    container_name: dozzle
    profiles:
      - dozzle
      - dev
    image: amir20/dozzle:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: "host"

  ######### Postgres ##########
  postgres:
    container_name: postgres
    profiles:
      - backend
      - dev
    image: postgres:15.0
    environment:
      - POSTGRES_USER=${FP_POSTGRES_USER:-backend_db_user}
      - POSTGRES_PASSWORD=${FP_POSTGRES_PASSWORD:-changeme}
      - POSTGRES_DB=${FP_POSTGRES_DB:-backend_db}
    volumes:
      - ../postgres/data/webapi:/var/lib/postgresql/data
    network_mode: "host"
    logging: *graylog-logging

  postgres-test:
    container_name: postgres-test
    profiles:
      - dev
      - tests
    image: postgres:15.0
    command: -p 5433
    environment:
      - POSTGRES_USER=${FP_POSTGRES_USER:-backend_db_user}
      - POSTGRES_PASSWORD=${FP_POSTGRES_PASSWORD:-changeme}
      - POSTGRES_DB=${FP_POSTGRES_TEST_DB:-backend_test_db}
    network_mode: "host"
    logging: *graylog-logging

  ########## frontend ##########
  nginx:
    container_name: nginx
    profiles:
      - frontend
    image: nginx:1.22.0
    build:
      context: ../webapp
    volumes:
      - ../nginx/nginx.conf:/etc/nginx/nginx.conf:ro,z
      - ../nginx/certbot/www/:/var/www/certbot/:ro
      - ../nginx/certbot/letsencrypt/:/etc/letsencrypt/:ro
      - ../nginx/ssl_certificates:/ssl_certificates:ro
    network_mode: "host"
    logging: *graylog-logging

  certbot:
    container_name: certbot
    build:
      context: ../nginx/certbot
    profiles:
      - certbot
    volumes:
      - ../nginx/certbot/www/:/var/www/certbot/:rw
      - ../nginx/certbot/letsencrypt/:/etc/letsencrypt/:rw
    network_mode: "host"
    logging: *graylog-logging

  nginx-dev:
    container_name: nginx-dev
    profiles:
      - dev
    image: nginx:1.22.0
    volumes:
      - ../nginx/nginx.dev.conf:/etc/nginx/nginx.conf:ro,z
    network_mode: "host"
    logging: *graylog-logging

  ########## backend ##########
  webapi:
    container_name: webapi
    profiles:
      - backend
    image: webapi
    build:
      context: ../webapi
    volumes:
      - ../webapi/data/aspnet:/root/.aspnet
    network_mode: "host"
    depends_on:
      - postgres
    logging: *graylog-logging

  webapi-test: # runs tests
    container_name: webapi-test
    profiles:
      - tests
    image: webapi-test
    build:
      context: ../webapi
      dockerfile: Dockerfile.test
    network_mode: "host"
    depends_on:
      - postgres-test
    logging: *graylog-logging

  ########## graylog ##########
  graylog:
    container_name: graylog
    profiles:
      - graylog
    image: graylog/graylog:5.2
    environment:
      - GRAYLOG_PASSWORD_SECRET=${FP_GRAYLOG_PASSWORD_SECRET:-changeme_minimum_16_characters}
      - GRAYLOG_ROOT_PASSWORD_SHA2=${FP_GRAYLOG_ROOT_PASSWORD_SHA2:-8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918} # default value is hash of "admin" password
      - GRAYLOG_HTTP_BIND_ADDRESS=0.0.0.0:9900
      - GRAYLOG_HTTP_PUBLISH_URI=http://127.0.0.1:9900/ # https://community.graylog.org/t/accessing-gui-using-internal-and-external-ip/11342/3
      - GRAYLOG_HTTP_EXTERNAL_URI=http://127.0.0.1:9900/
      - GRAYLOG_MONGODB_URI=mongodb://127.0.0.1/graylog
      - GRAYLOG_ELASTICSEARCH_HOSTS=http://127.0.0.1:9200 # fixes "No data nodes have been found"
    volumes:
      - ../graylog/graylog/data:/usr/share/graylog/data
    network_mode: "host"
    depends_on:
      - mongo
      - opensearch
    logging: *graylog-logging

  mongo:
    container_name: mongo
    profiles:
      - graylog
    image: mongo:7.0.4
    volumes:
      - ../graylog/mongo/data:/data/db
    network_mode: "host"
    logging: *graylog-logging

  # https://opensearch.org/docs/latest/install-and-configure/install-opensearch/docker/
  opensearch:
    container_name: opensearch
    profiles:
      - graylog
    image: opensearchproject/opensearch:2.11.1
    environment:
      - discovery.type=single-node
      - plugins.security.disabled=true
      - cluster.name=opensearch-cluster # Name the cluster
      - node.name=opensearch-node-1 # Name the node that will run in this container
      - bootstrap.memory_lock=true # Disable JVM heap memory swapping
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m" # Set min and max JVM heap sizes to at least 50% of system RAM
    volumes:
      - ../graylog/opensearch/data:/usr/share/opensearch/data
    network_mode: "host"
    logging: *graylog-logging
